{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<!-- 创建一个表单，用于用户注册 -->
<form method="POST">
  <h3 align="center">Sign Up</h3>
  <div class="form-group">
    <label for="email">Email Address</label>
    <!-- 输入邮箱地址 -->
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <!-- 输入名字 -->
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Enter first name"
    />
  </div>
  <div class="form-group">
    <label for="password1">Password</label>
    <!-- 输入密码 -->
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Enter password"
    />
  </div>
  <div class="form-group">
    <label for="password2">Password (Confirm)</label>
    <!-- 确认密码 -->
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirm password"
    />
  </div>
  <br />
  <!-- 提交按钮 -->
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
